@model EntityLayer.Database.Login
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni Admin Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Admin Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AdminUserName)*@
    <br /><br />
    @Html.Label("Şifreyi Giriniz")
    @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AdminPassword)*@
    <br /><br />

    @Html.Label("Rolü Seçiniz")
    @Html.DropDownListFor(x => x.RoleId, (List<SelectListItem>)ViewBag.valueadmin, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info" id="Kaydet">Kaydet</button>
</div>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $('#Kaydet').click(function () {
        swal({
            title: "Tebrikler!",
            text: "Kategori Başarıyla Eklendi!",
            button: false,
            icon: "success",
            timer:5000
        }).then(function () {
            window.location.reload(true);
            tr.hide();
        });;
    });
</script>


